
.awesome {
    width: 100%;
    padding: 100px 0 109px;

}

.awesome-title {
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #212121;
 }

.awesome-title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #D98943;
    margin: 25px auto 30px;
}


.awesome-row {
    margin-top: 67px;
    display: flex;
}

.awesome-row__item {
    margin: 0 auto;
    width: 350px;
}

.awesome-img {
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.awesome-img__center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item_title {
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin: 30px auto;
}

.row-content {
    text-align: center;
    color: #000;
}

