.axure {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 58px 0 38px;
    position: relative;
}


.axure::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.axure-title {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.axure-title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    margin: 34px auto 34px;
}

.axure-content {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.axure-button {
    margin: 57px auto 0;
    width: 135px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
}

.download {
    color: #ffffff;
    padding: 11px 26px;
    font-weight: 600;
    font-size: 15px;
}

.axure-button:hover {
    background-color: rgba(0,0,0,0.30);
    transition: 0.3s;
}