.pricing {
    width: 100%;
    background-color: #F5F5F5;
    padding: 80px 0 80px;
}

.pricing-title {
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #212121;
}

.pricing-title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: 34px auto 34px;
}

.pricing-row {
    margin: 63px -15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

}

.pricing-row__item {
    width: 340px;
    margin: 0 15px;
    transition: 0.4s ease;
}

.pricing-row__item:hover {
    transform: translate(0px, -18px);
}

.pricing-row__item-title {
    font-size: 20px;
    line-height: 27px;
    background-color: #333333;
    color: #ffffff;
}

.pro-title-center {
    padding-top: 15px;
    padding-bottom: 8px;
}

.optima-title-center {
    padding-top: 16px;
    padding-bottom: 7px;
}

.pricing-row__item-price {
    margin-top: 1px;
    background-color: #333333;
    font-family: Raleway, sans-serif;
    font-size: 35px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
}

.pricing-row__item-duration {
    background-color: #333333;
    margin-top: 2px;
}


.black-item-duration {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s ease;
}


.black-item-duration:hover {
    background-color: #D98943;

}

.pricing-row__item-list {
}

.pricing-row__item-list-content {
    margin-top: 4px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #86878B;
}

