@import url(awesome.css);
@import url(pricing.css);
@import url(customers.css);
@import url(axure.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1170px;
    padding: 0 15px;
    position: relative;
    z-index: 10;
}

.title {
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase
}

.title-content {
    color: #86878B;
    text-align: center;
}

.content {
    font-size: 14px;
    line-height: 19px;
}




